
.back-btn{
   
    background-color:  #0c2d4e8a;
    color: white;
    border-radius: 50%;
    height: 50px;
    width:50px;
    border:none;
    margin: 10px;
    border: 2px solid rgba(255, 255, 255, 0.942);
}
.back-btn:hover{
    background-color: white;
    color:   #0c2d4e;
    

}
.introduction{
   display: flex;
   height:250px;
   background-color: aqua;  
   background: url('../../../public/assets/dept_img/dept_back.jpg') no-repeat center center/cover;
   
}

.title-name{
    text-align: center;

}

.about-img{    
display: block;
margin: auto;
margin-top: -100px;
  
}
.about-images
{
    display: block;
    margin: auto;    
    border-radius: 50%;
    border: 5px solid white; 
}
.title-name{
    color: rgba(0, 0, 0, 0.718);
    padding: 10px;
    font-size: 45px;
}
.intro-content{
    font-size: 20px;
}
/*      Member Title*/

.mem-title{
  text-align: center;
  padding: 30px;
  font-size: 25px;
}
.members{
    background-color: #0c2d4e2f;
}
.member-img{
    display: flex;  
}

.mem-img{
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex: 0 0 30%; /* Each item takes up 20% of the container width */
    margin: 25px; /* Adjust margin as needed */
    transform: translateY(0); /* Initial position */
    transition: transform 0.3s ease; /* Smooth transition */
}

.mem-img:hover{
    transform: translateY(-10px);
}
.image-title{
    text-align: center;
    margin: 30px;
}
.image-section{    
    display: block;
    margin: auto;   
}

.contact-info{
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #0c2d4ea4;
    height: 150px;
}
.contact-card-main
{
    height: 150px;
   
    
    margin: auto;
    text-align: center;
  
   
   
}

.contact-title{
    font-size: 25px;
    color: white;
    margin: 10px;
}
.contact-content{
    color:rgba(240, 248, 255, 0.566);
}
