.intro{
    background-color: aqua;
    height: 500px;
}
.about{
    background-color: aquamarine;
    height: 500px;
}
.program-offered{

    background-color: blue;
    height: 500px;
}
.faculty{

    background-color: brown;
    height: 500px;
}
.research{
    background-color: yellowgreen;
    height: 500px;
}
.facilities{
    background-color: yellow;
    height: 500px;
}
.industrial-Partnership{
    background-color: violet;
    height: 500px;
}
.events{

    background-color: sienna;
    height: 500px;
}
.Alumini{

    background-color: seagreen;
    height: 500px;
}
.contact{
    background-color: palegreen;
    height: 500px;
}