*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  

  font-family: 'roboto',sans-serif;
  /* background-image: linear-gradient(to bottom right, #002244 ,#367588); */
  
  
}
.dept-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10pxpx;
  align-items: center;

}
.card{
  width: 450px;
  height:500px;
  border-radius: 20px;
  overflow: hidden;
  border:8px solid #1877f2;
  position:relative;
  margin:30px;  
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}
.card-img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:14px ;

}
.card-body{
  width:100%;
  height:100vh;
  top:0;
  right:-100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.529);
  backdrop-filter:blur(5px);
  border-radius: 15px;
  color:#fff;
  padding:30px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  transition:1s;
 
}

.card:hover .card-body{
  right:0;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card:hover {
  transform: translateY(-5px);
}
.card-title{
  text-transform:uppercase;
  font-size:40px;
  font-weight: 500;
  
}
.card-sub-title{
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  margin-top: 10px;
}
.card-info{
  font-size:16px;
  line-height:25px;
  margin:40px 0;
  font-weight: 400;

  align-items: center;

}
.card-btn{
  color: #1877f2;
  background-color: white;
  padding:10px 20px;
  border-radius:5px;
  text-transform: capitalize;
  border:none;
  outline:none;
  font-weight: 500;
  cursor:pointer;
  width:120px;
}
.card-btn:hover{
  color: white;
  background-color: #1877f2;
  
}



/* CSS */
button.button-2 {
  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  -webkit-tap-highlight-color: transparent;
}

.card-btn:focus {
  outline-style: solid;
  outline-color: transparent;
}

button.button-2 {
  touch-action: manipulation;
  margin: 3px;
  cursor: pointer;
}
.card-btn:hover {
  transform: scale(1.04);
}

.card-btn:active {
  border-color: #0048d5;
  transform: scale(0.96);
  background-color: #0048d5;
}

.heading-in
{
  background-color: #033074b7;
  height: 80px;
  color: white;
  font-size: 40px;
  text-align: center;
}

.card-outer-title{
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  color: #033074db;
}

.main-card:hover{
  background-color:  #03307446;
  color: white;
  border-radius:14px ;
  
}